<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="index">
      <ion-icon class="footer-icon" name="home-outline"></ion-icon>
      <ion-label class="footer-label">首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tool">
      <ion-icon class="footer-icon" name="construct-outline"></ion-icon>
      <ion-label class="footer-label">工具</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="message">
      <ion-icon class="footer-icon" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label class="footer-label">消息</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon class="footer-icon" name="cart-outline"></ion-icon>
      <ion-label class="footer-label">购物车</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mine">
      <ion-icon class="footer-icon" name="person-outline"></ion-icon>
      <ion-label class="footer-label">我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
