<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>扫一扫</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="scan-wrap">
    <div class="scan-container">
      <div class="scan-window">
        <div class="scan-cursor"></div>
      </div>
      <div class="scan-btn-light" (click)="toggleLight()">
        <ion-icon [name]="light ? 'flash-outline' : 'flash-off-outline'"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="scan-image-choose">
      选择相册中的图片
      <input accept="image/*" type="file" (change)="openImage($event)" >
    </div>
  </ion-toolbar>
</ion-footer>
