.set-wrap {
  background-color: #ffffff;
  margin-top: 2.4vw;
}

.logout-btn {
  background-color: var(--ion-color-primary);
  padding: var(--layout-spacing);
  text-align: center;
  font-size: var(--font-32);
  color: #ffffff;
}