.feedback-wrap {
  margin-top: 2.4vw;
  background-color: #ffffff;
  font-size: var(--font-26);
}

.submit-btn {
  background-color: var(--ion-color-primary);
  padding: var(--layout-spacing);
  text-align: center;
  font-size: var(--font-32);
  color: #ffffff;
}